body {
  color: whitesmoke;
}

.pen {
  background-color: olivedrab;
  outline: 2px dashed rgb(196, 196, 196);
}

.pen marquee {
  min-height: 25vh;
  display: block;
  width: 100%;
}

.pen marquee marquee {
  height: 100%;
  width: 100%;
}

.animal {
  cursor: grab;
  user-select: none;
  height: 40px;
  width: 40px;
}

.happy {
  filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
}

.hungry {
  filter: hue-rotate(40deg) drop-shadow(0px 0px 8px rgb(224, 67, 67));
}